@media (max-width: 768px) {
    body, main {
        padding-left: 0;
        padding-right: 0;
    }

    main {
        display: flex;
        flex-direction: column;
        gap: 0;
        padding-bottom: 0;
    }

    main img {
        width: 100%;
        height: auto;
    }

    .ctx-info {
        order: 2;
        padding: 60px 12px;
        padding-top: 0px;
    }

    .ctx-info img {
        margin: 0 auto;
    }

    .ctx-foto {
        order: 1;
        padding: 0 12px;
    }

    .ctx-form {
        order: 3;
    }

    .ctx-info-2 .imagem-bg {
        margin-left: -55px;
        width: 137px !important;
    }

    .swiper-slide {
        font-size: 10px;
    }

    footer {
        grid-template-columns: 1fr;
        text-align: center;
    }

    footer img {
        display: none;
    }

    .redes-sociais {
        display: none;
    }
}

@media screen and (min-width: 800px) and (max-width: 1024px) {
    main {
        gap: 40px;
        padding: 10px 30px;
        grid-template-columns: repeat(3, minmax(100px, 1fr));
    }
}

@media (min-width: 1600px) {
    .ctx-foto img {
        width: 100%;
    }

    .ctx-info img {
        max-width: 100%;
        width: 429px;
    }

    .ctx-info-2 {
        gap: 50px;
    }

    .ctx-info-2 .imagem-bg {
        margin-left: -55px;
        width: 330px;
    }

    .imagem-bg {
        max-width: 50% !important;
    }

    .form {
        padding: 60px;
    }

    .body-form input {
        padding: 20px;
    }
}